<!doctype html>
<html>
  <head>
    <title>Demotivator v1.0</title>
		<!-- Accesses Sinatra's public folder -->
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		<blockquote>"Sometimes I wonder if people make anything that's good." - Jason Bull</blockquote>
		<h3>The one-stop shop for demotivating yourself and losing hope in humanity</h3>
		<h2>Have you ever... nevermind, I just got really demotivated. It's the</h2>
		<h1>Demotivator v1.0</h1>
		<img src="img/demotivator1.jpg"/>
  </body>
</html>