<!doctype html>
<html>
  <head>
    <title>Gigatron 5000</title>
		<!-- Accesses Sinatra's public folder -->
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <blockquote>"Seriously though, I want my money back." - Jason Bull</blockquote>
		<h3>This is the greatest tool you have ever owned and then later returned</h3>
		<h2>Something tells me you are going to love (and then immediately hate) the</h2>
		<h1>Gigatron 5000</h1>
		<img src="img/gigatron5000.jpg"/>
  </body>
</html>