<!doctype html>
<html>
  <head>
    <title>Almost-wanted-it 9000</title>
		<!-- Accesses Sinatra's public folder -->
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		<blockquote>"I'm not interested at this time." - Jason Bull</blockquote>
		<h3>The greatest item to put on your wishlist and never get</h3>
		<h2>Don't forget to put this great invention on your wishlist and then never get it. It's the</h2>
		<h1>Almost-wanted-it 9000</h1>
		<img src="img/almost-wanted-it9000.jpg"/>
  </body>
</html>