body { background: #cccccc; }

blockquote {
	color: #666666;
	font-style: italic;
}

h3 {

}

h2 {
	font-size: 1.5em;
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 2em;
}

img {
	width: 25em;
	border-radius: 20px;
}